[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
halmos = "*"
ecdsa = "*"
eth-account = "*"
eth-utils = "*"
pycoin = "*"
pycryptodome = "*"
coincurve = "*"
libnum = "*"
cryptography = "*"
fastecdsa = "*"

[dev-packages]

[requires]
python_version = "3.11"
